{{ ansible_managed | comment }}
{% for microsoft_repository_dir in microsoft_repository_dirs_list %}
{% if microsoft_repository_dir.type is defined and microsoft_repository_dir.type == 'alternate' %}
deb [arch=amd64,arm64,armhf] {{ microsoft_repository_mirror }}/repos/{{ microsoft_repository_dir.name }} {{ ansible_distribution_release }} main
{% else %}
deb [arch=amd64,arm64,armhf] {{ _microsoft_repository_baseurl }}/{{ microsoft_repository_dir.name }} {{ ansible_distribution_release }} main
{% endif %}
{% endfor %}