{{ ansible_managed | comment }}

{% if microsoft_repository_prod_repository | bool %}
[packages-microsoft-com-prod]
name = packages-microsoft-com-prod
baseurl = {{ __microsoft_repository_prod_repository }}
enabled = 1
gpgcheck = 1
gpgkey = {{ microsoft_repository_gpgkey_url }}
{% endif %}

{% for microsoft_repository_additional_directory in microsoft_repository_additional_directories %}
[{{ microsoft_repository_additional_directory }}]
name = {{ microsoft_repository_additional_directory }}
baseurl = {{ microsoft_repository_mirror_url }}/yumrepos/{{ microsoft_repository_additional_directory }}
enabled = 1
gpgcheck = 1
gpgkey = {{ microsoft_repository_gpgkey_url }}

{% endfor %}
